$white: #ffffff !default;
$black: #000000;

// Import Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

// Set brand colors
$brand-color: #0177FB;
$brand-black: #141736;
$secondary-black: #131635;
$blue: #0177FD;
$light-blue: #E5F1FF;
$wild-blue: #A4B4CB;

//Set font size
$font-sm: 12px;
$body-font: 16px;
$font-md: 20px;