@charset "utf-8";
@import "../../../node_modules/bulma/bulma.sass";

@font-face {
    font-family: 'Gilroy';
    src: url('~@/assets/fonts/gilroy/Gilroy-Medium.ttf') format('font-truetype'),
        url('~@/assets/fonts/gilroy/Gilroy-SemiBold.ttf') format('font-truetype');
    font-weight: normal;
    font-style: normal;
}

@import "variables";
@import "theme";